@import "tailwindcss";

@theme {
  --color-primary: #285bbb;
  --color-secondary: oklch(62.3% 0.214 259.815);
  --color-accent: #1c9dbf;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: #285bbb;
  color: #fff;
}
